body {
    background-color: rgb(250,248,239);
}

header{
    display:block;
    margin:0 auto;
    width:500px;
    text-align:center;
}

header h1{
    font-family:Arial;
    font-size:40px;
    font-weight:bold;
}

header #newgamebutton{
    width:100px;
    margin:20px auto;
    padding:10px 10px;
    
    font-family:Arial;
    background-color:#8f7a66;
    color:white;
    
    border-radius:10px;
    text-decoration:none;
    display:block;
}
header #newgamebutton:hover{
    background-color:#9f8b77;
}

header p{
    font-family:Arial;
    font-size:30px;
    margin:20px auto;
}

#grid-container{
    width:460px;
    height:460px;
    padding:20px;
    margin:30px auto;

    background-color:#bbada0;
    border-radius: 10px;

    position: relative;
}

.grid-cell{
    width:100px;
    height:100px;
    
    border-radius: 6px;
    background-color:#ccc0b3;

    position: absolute;
}

.number-cell{
    font-family: Arial;
    font-weight:bold;
    font-size:60px;
    line-height:100px;
    text-align:center;
    
    border-radius: 6px;

    position:absolute;
}