<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>v-model结合select类型</title>
</head>
<body>
  <div id="app">
    <!-- 1、选择一个时，v-model绑定的是一个值 -->
    <!-- 点击option中的一个时，就会将其value值赋给v-model -->
    <select name="abc" v-model="fruit">
      <option value="香蕉">香蕉</option>
      <option value="苹果">苹果</option>
      <option value="芒果">芒果</option>
      <option value="葡萄">葡萄</option>
    </select>
    <h2>您选择的水果是：{{fruit}} </h2>

    <!-- 2、选择多个时，v-model绑定的是一个数组 -->
    <!-- 选中一个或多个option时，就将选中option对应的value值添加到数组中 -->
    <select name="abc" v-model="fruits" multiple>
      <option value="香蕉">香蕉</option>
      <option value="苹果">苹果</option>
      <option value="芒果">芒果</option>
      <option value="葡萄">葡萄</option>
    </select>
    <h2>您选择的水果是：{{fruits}} </h2>
  </div>

  <script src="../js/vue.js"></script>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        fruit: '葡萄',
        fruits: [],
      },
    })
  </script>
</body>
</html>